* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width:400px;
  margin:30px auto;
  background-color: white;
  padding: 30px;
}

input, button {
  margin: 0 5px 0 0;
}

button {
  display: inline;
  float: left;
}

input {
  display: inline;
  float: left;
  padding: 5px 9px;
  text-align: center;
  width: 60px !important;
}

form {
  clear: both;
}

#result {
  display: none;
}

#final-result {
  color:red;
  text-align: center;
  font-family: 'Share Tech', sans-serif;
  font-size:20px;
}

#triangle {
  clear: both;
  text-align: center;
  font-family: 'Share Tech', sans-serif;
  font-size: 18px;

}
#definition {
  text-align: center;
  color: blue;
  text-decoration: none;
}
#definition a:hover {
  text-decoration: none;
  color: red;
}
